<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <p></p>
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Modifier Produit</h4>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="productFormGroup" (ngSubmit)="onSaveProduct()" novalidate>
                            <div class="row">
                                <div class="col-md-5">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Nom de produit" formControlName="name" [ngModel]="product.name"
                                           >
                                        <div *ngIf="productFormGroup.controls['name'].invalid && (productFormGroup.controls['name'].dirty || productFormGroup.controls['name'].touched)"
                                            class="alert alert-danger">
                                            <div *ngIf="productFormGroup.controls['name'].errors.required">
                                                Nom est obligatoir.
                                            </div>
                                            <div *ngIf="productFormGroup.controls['name'].errors.minlength">
                                                Le longeur minimale est 3.
                                            </div>
                                        </div>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Description" formControlName="description" [ngModel]="product.description"
                                            >
                                        <div *ngIf="productFormGroup.controls['description'].invalid && (productFormGroup.controls['description'].dirty || productFormGroup.controls['description'].touched)"
                                            class="alert alert-danger">
                                            <div *ngIf="productFormGroup.controls['description'].errors.required">
                                                Prenom est obligatoir.
                                            </div>
                                            <div *ngIf="productFormGroup.controls['description'].errors.minlength">
                                                Le longeur minimale est 3.
                                            </div>
                                        </div>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Prix d'achat" formControlName="sellingPrice" [ngModel]="product.sellingPrice"
                                             type="email">
                                        <div *ngIf="productFormGroup.controls['sellingPrice'].invalid && (productFormGroup.controls['sellingPrice'].dirty || productFormGroup.controls['sellingPrice'].touched)"
                                            class="alert alert-danger">
                                            <div *ngIf="productFormGroup.controls['sellingPrice'].errors.required">
                                                email est obligatoir.
                                            </div>
                        
                                        </div>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Prix de vente" formControlName="buyingPrice" [ngModel]="product.buyingPrice"
                                             type="email">
                                        <div *ngIf="productFormGroup.controls['buyingPrice'].invalid && (productFormGroup.controls['buyingPrice'].dirty || productFormGroup.controls['buyingPrice'].touched)"
                                            class="alert alert-danger">
                                            <div *ngIf="productFormGroup.controls['buyingPrice'].errors.required">
                                                email est obligatoir.
                                            </div>
                        
                                        </div>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-radio-group aria-labelledby="example-radio-group-label"
                                    class="example-radio-group">
                                    <mat-radio-button class="example-radio-button" [value]="1" [checked]="true"
                                        (change)="radioChange($event)">
                                        Disponible</mat-radio-button>
                                    <mat-radio-button class="example-radio-button" [value]="2"
                                        (change)="radioChange($event)">
                                        Non disponible</mat-radio-button>
                                </mat-radio-group>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-radio-group aria-labelledby="example-radio-group-label"
                                    class="example-radio-group">
                                    <mat-radio-button class="example-radio-button" [value]="1"
                                        (change)="radioChangePromotion($event)" [checked]="true">
                                       Promotion</mat-radio-button>
                                    <mat-radio-button class="example-radio-button" [value]="2"
                                        (change)="radioChange($event)">
                                        Non promotional</mat-radio-button>
                                </mat-radio-group>
                                </div>
                                <div class="col-md-6">
                                    
                                    <input type="file" multiple (change)="detectFiles($event)">
                                    
                                </div>
            
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field style="margin-right:10px;margin-left:10px" appearance="standard" >
                                        <mat-label>Categorie</mat-label>
                                        <mat-select  formControlName="categoryId">
                                          <mat-option *ngFor="let row of listCategory" [(ngModel)]="selectedOption" [value]="row" (click)="getCategoryVal(row)"  >
                                            {{row.name}}
                                          </mat-option>
                                        </mat-select>
                                      </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field style="margin-right:10px;margin-left:10px" appearance="standard">
                                        <mat-label>Site Stock</mat-label>
                                        <mat-select formControlName="siteStockId" >
                                          <mat-option [(ngModel)]="selectedOption" *ngFor="let row of listSieStock" [value]="row" (click)="getSiteStockVal(row)" >
                                            {{row.name}}
                                          </mat-option>
                                        </mat-select>
                                      </mat-form-field>
                                </div>
                            </div>
                             <button mat-raised-button type="submit"
                                [disabled]="productFormGroup.pristine || productFormGroup.invalid"
                                class="btn btn-info pull-right">Modifier Produit</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>

            <div>
                <img *ngFor="let url of urls" [src]="url" class="rounded mb-3" width="180">
            </div>
    
        </div>
    </div>
</div>
