<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <p></p>
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Ajouter site Stock</h4>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="siteStockFormGroup" (ngSubmit)="onSaveSiteStock()" novalidate>
                            <div class="row">
                                <div class="col-md-5">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Nom site stock" formControlName="name">
                                        <div *ngIf="siteStockFormGroup.controls['name'].invalid && (siteStockFormGroup.controls['name'].dirty || siteStockFormGroup.controls['name'].touched)"
                                            class="alert alert-danger">
                                            <div *ngIf="siteStockFormGroup.controls['name'].errors.required">
                                                nom site est obligatoir.
                                            </div>
                                            <div *ngIf="siteStockFormGroup.controls['name'].errors.minlength">
                                                Le longeur minimale est 3.
                                            </div>
                                        </div>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-5">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Description site stock"
                                            formControlName="description">
                                        <div *ngIf="siteStockFormGroup.controls['description'].invalid && (siteStockFormGroup.controls['description'].dirty || siteStockFormGroup.controls['description'].touched)"
                                            class="alert alert-danger">
                                            <div *ngIf="siteStockFormGroup.controls['description'].errors.required">
                                                description site est obligatoir.
                                            </div>
                                            <div *ngIf="siteStockFormGroup.controls['description'].errors.minlength">
                                                Le longeur minimale est 3.
                                            </div>
                                        </div>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-5">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Adress site stock" formControlName="adress">
                                        <div *ngIf="siteStockFormGroup.controls['adress'].invalid && (siteStockFormGroup.controls['adress'].dirty || siteStockFormGroup.controls['adress'].touched)"
                                            class="alert alert-danger">
                                            <div *ngIf="siteStockFormGroup.controls['adress'].errors.required">
                                                adress site est obligatoir.
                                            </div>
                                            <div *ngIf="siteStockFormGroup.controls['adress'].errors.minlength">
                                                Le longeur minimale est 3.
                                            </div>
                                        </div>
                                    </mat-form-field>
                                </div>
                            
                                



	<mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
		<mat-radio-button class="example-radio-button"  [value]="1"
			(change)="radioChange($event)">
			Espace disponible</mat-radio-button>
            <mat-radio-button class="example-radio-button"  [value]="2"
			(change)="radioChange($event)">
			Espace non disponible</mat-radio-button>
	</mat-radio-group>
	<br>
	<br>



                            </div>
                            <button mat-raised-button type="submit"
                                [disabled]="siteStockFormGroup.pristine || siteStockFormGroup.invalid"
                                class="btn btn-info pull-right">Ajouter SiteStock</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>